/* WelcomePage.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #4b6cb7, #182848);
    color: white;
    text-align: center;
  }
  
  .welcome-content {
    max-width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  }
  
  .welcome-content h1 {
    margin-bottom: 10px;
  }
  
  .welcome-content p {
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
  }
  
  .btn {
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .btn {
    background-color: #4b6cb7;
    color: white;
  }
  
  .btn-signup {
    background-color: #ff4757; /* Cambia el color si lo deseas */
  }
  
  .btn:hover {
    background-color: #3a599b;
  }
  
  .btn-signup:hover {
    background-color: #e84118; /* Cambia el color si lo deseas */
  }
  